body {
	padding: 10px 0;
}

table td {
	padding: 0.25em 0.5em;
}

table tr:nth-child(odd) {
	background: white;
}

table tr:nth-child(even) {
	background: #ECF0F1;
}

.keypad {
	padding-bottom: 1em;
	padding-top: 1em;
}

.row-gutter {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.text-turquoise {
	color: #1ABC9C;
}

.text-green-sea {
	color: #16A085;
}

.title-section {
	border-bottom: 3px solid #BDC3C7;
	padding-bottom: 0.5em;
}